import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');
html, body {
    background-image: url(calback.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif; 
}

.button{
    background-color: black;
    color: white;
  width: 66px;
  padding: 20px;
  margin: 0 3px;
  border: 2px solid black;
  border-radius: 9px;
  cursor: pointer;
  box-shadow: 2px 2px 4px hotpink;

  
}
.button:active {
    background-color: white;
    color: black;
    font-size: 18px;
    transition: all 0.3s;
  
   
}

.row{
  margin: 8px 0;
}
.row input{
    background-color: black;
    color: white;
    
    height: 60px;
  width: 291px;
  font-size: 20px;
    margin: 0;
    padding: 10px 0px;
    border: 2px solid black;
    border-radius: 5px;
}
